// 白
$color-white: #fff;
// 文字色黒
$color-black: #333;
// 文字色グレー
$color-gray: #999;

// 透過黒
$color-op-black: rgba(0,0,0,0.5);

// 茶色
$color-brown: #a78b5a;
// こげ茶色
$color-dark-brown: #614039;


// グリーン
$color-green: #2d6d54;
// ライトグレー
$color-light-gray: #f2f2f2;
// ライトグレー2
$color-light-gray2: #eee;
// ライトグレー2
$color-light-gray3: #bbb;

// 白に近いグレー
$color-white-gray: #fafafa;

// 赤
$color-red: #ff0000;
// 赤黒
$color-dark-red: #933c2d;

// ネイビー
$color-navy: #2d3f6d;

// 透過ブルー
$color-op-white: rgba(255,255,255,0.9);




// ブルー
$color-blue: #5D9FEF;
// ライトブルー
$color-light-blue: #69a8b4;
// ダークブルー
$color-dark-blue: #427DC7;
// 透過ブルー
$color-op-blue: rgba(11,75,155,0.5);

// ピンク
$color-pink: #EB8686;
