// pager --------------------
.m-pager {
  margin: 60px 0 30px;
  text-align: center;
  li {
    display: inline-block;
    margin: 0;

    @include max-screen($bp-mobile) {
      margin: 0;
    }
    &:last-child,&:first-child {
      a {
        border: none;
      }
    }
  }
  .active {
    a {
      background: $color-black;
      color: $color-white;
    }
    &:last-child,&:first-child{
      a {
        // border: 2px solid $color-blue;
      }
    }
  }
  a {
    display: inline-block;
    padding: 2px 10px;
    // border: 1px solid $color-gray;
  }
}
