// メインイメージ　ーーーーーーーーーーーーーーーーーー
.mainimage-slide{
  // max-height: 570px;
  text-align: center;
  overflow: hidden;
  .slick-slide{
    img{
      height: auto;
      width: 100%;
    }
  }
}


.mainimage {
  max-height: 570px;
  text-align: center;
  overflow: hidden; }
  .mainimage img {
    width: 100%; }
