// button --------------------
.link_btn{
  border: 3px solid $color-black;
  padding: 13px 0px;
  text-align: center;
  display: block;
  width: 260px;
  margin: 0 auto;
  font-size: 1.8rem;
  &:hover{
    text-decoration: none;
    opacity: 0.6;
    color: $color-black;
    // border: 3px solid $color-brown;
  }
}
.link_btn_dib{
  border: 3px solid $color-black;
  padding: 13px 0px;
  text-align: center;
  display: inline-block;
  width: 260px;
  margin: 0 auto;
  font-size: 1.8rem;
  transition: 0.3s;
  img{
    -webkit-filter: grayscale(100%) brightness(0.4);
    -moz-filter: grayscale(100%) brightness(0.4);
    -o-filter: grayscale(100%) brightness(0.4);
    -ms-filter: grayscale(100%) brightness(0.4);
    filter: grayscale(100%) brightness(0.4);
  }
  &:hover{
    text-decoration: none;
    opacity: 0.6;
    color: $color-black;
  }
}



// ページトップへ戻るボタン
.btn-pagetop{
  position: fixed;
  bottom: 125px;
  right: 0px;
  @include max-screen($bp-tablet) {
    visibility: hidden;
  }
}
