// heading --------------------

// 下層メインイメージ
.m-title-low {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  // justify-content: space-around;
  height: 27vh;
  background-position: center center;
  background-size: cover;
  color: $color-white;
  @include max-screen($bp-tablet) {
    height: 22vh;
  }
  @include max-screen($bp-mobile) {
    height: 14vh;
    }
  h1{
    width: 100%;
    font-size: 3.5rem;
    margin: 0 auto;
    max-width: 1200px;
    font-weight: normal;
    padding-left: 20px;
    span{
      font-size: 2rem;
    }
    @include max-screen($bp-mobile) {
      font-size: 2.6rem;
      line-height: 1.4;
      span{
        font-size: 1.6rem;
        display: block;
      }
    }
  }
  &.ttl_history {
    background-image: url(../img/history_ttl.jpg);
  }
  &.ttl_feature {
    background-image: url(../img/feature_ttl.jpg);
  }
  &.ttl_event {
    background-image: url(../img/event_ttl.jpg);
  }
  &.ttl_spot , &.ttl_culture , &.ttl_gourmet , &.ttl_shopping ,&.ttl_other {
    background-image: url(../img/spot_ttl.jpg);
  }
  &.ttl_map {
    background-image: url(../img/map_ttl.jpg);
  }
  &.ttl_access {
    background-image: url(../img/access_ttl.jpg);
  }
  &.ttl_kyoryuchi-club {
    background-image: url(../img/kyoryuchi-club_ttl.jpg);
  }
  &.ttl_about {
    background-image: url(../img/about_ttl.jpg);
  }
  &.ttl_banner {
    background-image: url(../img/banner_ttl.jpg);
  }
  &.ttl_link {
    background-image: url(../img/link_ttl.jpg);
  }
  &.ttl_contact {
    background-image: url(../img/contact_ttl.jpg);
  }
  &.ttl_privacy {
    background-image: url(../img/privacy_ttl.jpg);
  }
  &.ttl_sitemap {
    background-image: url(../img/sitemap_ttl.jpg);
  }
  &.ttl_404 {
    background-image: url(../img/404_ttl.jpg);
  }
  &.ttl_search {
    background-image: url(../img/search_ttl.jpg);
  }
  &.ttl_newpage {
    background-image: url(../img/newpage_ttl.jpg);
  }
}
