// イベント一覧　ーーーーーーーーーーーーーーーーーー
.list-event{
  .slide_box{
    width: 29%;
    margin: 0 20px 40px;
    @include max-screen($bp-tablet) {
      width: 40%;
      max-width: 370px;
    }
    @include max-screen($bp-mobile) {
      width: 90%;
      max-width: 370px;
    }
  }
}

.category_nav{
  margin-bottom: 50px;
  li{
    margin: 0 5px;
    a{
      display: block;
      padding: 10px 20px;
      background: $color-light-gray;
      transition: 0.3s;
      width: 8em;
      text-align: center;
      border-radius: 40px;
      @include max-screen($bp-tablet) {
        width: 7em;
        padding: 7px 10px;
      }
    &:hover{
        background: $color-brown;
        color: $color-white;
      }
    }
    &.active a{
      background: $color-black;
      color: $color-white;
      cursor: default;
      &:hover{
        background: $color-black;
        color: $color-white;
      }
    }
  }
}


// イベント詳細　ーーーーーーーーーーーーーーーーーー
.detail-event{
  .tag{
    position: static;
    margin-bottom: 10px;
  }
}
.event_ttl{
  font-size: 2.4rem;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-gray;
  margin-bottom: 20px;
}
.event_info{
  font-size: 1.8rem;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-gray;
  margin-bottom: 20px;
}
.event_contents{
  padding-bottom: 20px;
  border-bottom: 1px solid $color-gray;
  margin-bottom: 30px;
}
